<div class="box_skitter box_skitter_large">
	<ul>
		<li>
			<%= image_tag("slider/001.jpg", :alt => "image_001") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/002.jpg", :alt => "image_002") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/003.jpg", :alt => "image_003") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/004.jpg", :alt => "image_004") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/005.jpg", :alt => "image_005") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/006.jpg", :alt => "image_006") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/007.jpg", :alt => "image_007") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/008.jpg", :alt => "image_008") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/009.jpg", :alt => "image_009") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/010.jpg", :alt => "image_010") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/011.jpg", :alt => "image_011") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/012.jpg", :alt => "image_012") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/013.jpg", :alt => "image_013") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/014.jpg", :alt => "image_014") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/015.jpg", :alt => "image_015") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/016.jpg", :alt => "image_016") %>
			<div class="label_text"><p></p></div>
		</li>
		<li>
			<%= image_tag("slider/017.jpg", :alt => "image_017") %>
			<div class="label_text"><p></p></div>
		</li>
	</ul>
</div>